*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
nav{
    background-color:NONE;
    text-decoration: none;
    font-size: 30px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: end;
    

}
nav img{
    text-decoration: none;
    flex: auto;
    flex-direction: left;

}
header p{
    color: brown;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}
header div{
    text-align: center;
    font-size: 25px;
}
footer{
    text-align: center;
    font-size: 16px;
    
}
body header div img{
    width: 100%;
       
}
@media {
    
}
